
body {
    margin: 0;
    padding: 0;
    left: 0px;
    top: 0px;
    align-content: center;
    background: linear-gradient(246.26deg, #585DFE 0%, #FB3796 100%);
}

h1 {
    padding-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 38px;
    /* identical to box height, or 173% */
    text-align: center;
    letter-spacing: -0.05em;
    color: #FFFFFF;
}

h2 {

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 97.5723px;
    line-height: 24px;
    /* or 25% */
    text-align: center;
    color: #FFFFFF;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */

    text-align: center;

    color: #1A1921;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */

    text-align: center;

    color: #4E4E4E;
}

div{
    padding-top: 15px;
    padding-bottom: 15px;
    background: #FBF7EE;
}

input{
    font-family: Arial, Helvetica, sans-serif;
    width: 195px;
    color: #FFFFFF;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    text-align: center;
}

::placeholder{
    color: #FFFFFF;
}
form{
    text-align: center;
}





